.container {
  max-width: 1080px;
  margin: 20px auto;
}
.logo {
  display: block;
  margin: 0 auto;
  max-width: 300px; /* Adjust the width as needed */
  height: auto;
  /* Add any additional styles you want for your logo */
}